    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #f8f0f0;
    }
    
    nav {
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* background-color: rgb(130, 80, 88); */
        background-image: linear-gradient(to bottom, #e52e71, #ff8a00);
        color: gray;
    }
    
    .logo {
        width: 100px;
        margin: auto;
    }
    
    .logo img {
        width: 100%;
    }
    
    .logo h1 {
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }
    
    .logo p {
        color: white;
        width: 150px;
        font-size: 18px;
    }
    
    .menu {
        text-align: left;
        padding-left: 45px;
        margin-top: 50px;
    }
    
    .menu ul li {
        list-style: none;
        padding-top: 23px;
        font-size: 18px;
        border-bottom: 2px solid #e46262;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: white;
    }
    
    .time {
        display: flex;
        margin: 50px;
        color: white;
    }
    
    .time i {
        font-size: 45px;
    }
    
    .open_time {
        margin-left: 10px;
    }
    
    .contact {
        display: flex;
        margin: 58px;
        color: white;
    }
    
    .contact i {
        font-size: 45px;
    }
    
    .social {
        display: flex;
        margin-top: -20px;
    }
    
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid rgb(248, 242, 242);
        color: white;
        margin-left: 20px;
    }
    
    .media:hover {
        background-color: rgb(198, 52, 166);
    }
    
    .media i {
        font-size: 18px;
    }
    
    .content {
        width: 80%;
        float: right;
    }
    
    .container {
        width: 80%;
        margin: auto;
    }
    
    .banner {
        width: 100%;
        height: 100vh;
        background-image: url(../img/01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .slogan {
        width: 400px;
        height: 150px;
        padding: 15px;
        margin-left: 48px;
        position: absolute;
        bottom: 54px;
        background-color: white;
    }
    
    .slogan h1 {
        font-size: 25px;
    }
    
    .slogan p {
        padding: 10px 0 10px 0;
        color: gray;
    }
    
    .btn {
        background-color: #e52e71;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 20px;
    }
    
    .title {
        margin: 50px 0;
    }
    
    .title h1 {
        width: 100%;
        font-size: 30px;
        color: #e52e71;
    }
    
    .title p {
        font-size: 20px;
    }
    
    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .brand_product {
        display: flex;
        margin-bottom: 50px;
    }
    
    .product {
        width: 25%;
        margin-right: 20px;
    }
    
    .betty {
        background-color: #e52e71;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .product img {
        width: 100%;
    }
    
    .service {
        width: 30%;
        margin: 20px 15px;
    }
    
    .service img {
        width: 100%;
    }
    
    .news {
        background-color: rgb(241, 222, 225);
    }
    
    .quality {
        float: left;
        width: 30%;
        height: 350px;
        margin-right: 30px;
        background-color: white;
    }
    
    .date {
        position: relative;
        top: 10px;
    }
    
    .blog {
        text-align: center;
    }
    
    .blog_btn {
        width: 115px;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: #e52e71;
        margin: 20px 0;
        padding: 10px;
        color: white;
    }
    
    .quality img {
        width: 100%;
    }
    
    .about_betty {
        width: 100%;
        height: 50vh;
        background-image: url(../img/banner.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .info {
        padding: 20px;
    }
    
    .client {
        float: left;
        width: 300px;
        margin: 75px 0 0 23px;
    }
    
    .client h1 {
        color: #e52e71;
        font-size: 30px;
    }
    
    .lawyer {
        width: 100%;
        height: 236px;
        background-color: white;
        border-radius: 20px;
    }
    
    .thought {
        padding: 22px;
        text-align: justify;
    }
    
    .client_review {
        display: flex;
        margin-left: 10px;
    }
    
    .client_review img {
        width: 25%;
    }
    
    .client_info {
        padding: 20px;
    }
    
    .post {
        color: gray;
    }
    
    .rights {
        color: white;
        text-align: center;
        padding-top: 20px;
    }
    /* About Us */
    
    .salon_owner {
        width: 100%;
        display: flex;
    }
    
    .owner {
        background-image: url(../img/about.jpg);
        width: 50%;
        height: 100vh;
        margin-bottom: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .owner_info {
        width: 50%;
        padding-left: 50px;
    }
    
    .owner_info p {
        padding-bottom: 30px;
        line-height: 25px;
        color: gray;
        font-family: 'Rambla', sans-serif;
    }
    
    .team {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    
    .member {
        width: 50%;
        display: flex;
        background-color: white;
        margin-left: 20px;
        padding: 20px;
    }
    
    .member img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .title-team {
        display: flex;
    }
    
    .title-team p {
        padding: 5px 15px;
        color: #e52e71;
        font-family: 'Rambla', sans-serif;
    }
    
    .emma {
        margin-left: 10px;
    }
    
    .member .media_new {
        display: flex;
        color: #e52e71;
        margin: 10px 50px;
    }
    
    .item-media {
        padding: 10px 12px;
        border-radius: 50%;
        border: 1px solid;
        margin-left: 20px;
    }
    
    .item-media:hover {
        color: white;
        background-color: #e52e71;
    }
    /* services */
    
    .art {
        width: 100%;
        padding: 10px;
        background: white;
    }
    
    .makeover {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px 50px;
        margin-bottom: 50px;
    }
    /* Blog */
    
    .quality_blog {
        width: 70%;
        height: 90vh;
        margin-bottom: 50px;
        background-color: white;
    }
    
    .quality_blog img {
        width: 100%;
    }
    
    .number {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: gray;
        margin: 5px;
    }
    
    .blog_number {
        text-align: center;
        display: flex;
        width: 70%;
        justify-content: center;
        margin-bottom: 50px
    }
    /* Contact Us */
    
    .map {
        width: 100%;
        height: 66vh;
        background-color: gray;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
        margin-top: 50px;
    }
    
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 500px;
        width: 100%;
    }
    
    .destination {
        margin-top: 50px;
        display: flex;
    }
    
    .dest_info {
        display: flex;
        margin: 50px;
    }
    
    .dest_info p {
        color: gray;
    }
    
    .dest_info i {
        font-size: 45px;
        color: #e52e71;
    }
    
    .fill_info {
        width: 50%;
        margin: 50px 0 0 100px;
    }
    
    .fill_info input {
        width: 200px;
        height: 35px;
        padding-right: 20px;
        border: 1px solid gray;
    }
    
    .msg {
        width: 133px;
        height: 50px;
        color: white;
        background-color: #e52e71;
        border: none;
        border-radius: 30px;
        margin-top: 25px;
        font-family: 'Rambla', sans-serif;
    }